<launch>


    <node pkg="ros_tutorial" type="pid.py" name="pid" output="screen">
        <param name="k_i" value="0" />
        <param name="k_p" value="0.1"/>
        <param name="k_d" value="1"/>
        <param name="dt" value="0.005"/>
        <param name="v" value="0.2"/>
        <param name="D" value="0.1"/>
    </node>

    <node pkg="ros_tutorial" type="monitor.py" name="monitor"></node>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
        <arg name="x_pos" value="0.0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="0.0"/>
    </include>

</launch>